body{
    background: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

#login-form{
    width: 300px;
    height: 240px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#title{
    color: #424242;
    font-size: 64px;
    padding-top: 48px;
    padding-left: 30px;
}

#message{
    font-size: 28px;
}

#logout{
    float: right;
    display: inline-block;
    color: crimson;
    margin: -42 15 15 15;
    font-size: 20px;
}

#logout:hover{
    cursor: hand;
}

#login,#back-home{
    color: white;
    background: black;
    height: 50;
}

#logout-box{
    width: 35vw;
    height: 240px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#dashboard{
    height: 100px;
    padding: 0% 5% 5% 1%;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}

#student-details-tab,#mess-details-tab,#hostel-room-details-tab,#attendance-tab,#search-student-tab,#approval-tab,#broadcast-tab,#add-student-tab,#leave-application-tab{
    font-size: 18px;
}

#student-details-tab:hover,#mess-details-tab:hover,#hostel-room-details-tab:hover,#attendance-tab:hover,#search-student-tab:hover,#approval-tab:hover,#broadcast-tab:hover,#add-student-tab:hover,#leave-application-tab:hover{
    cursor: hand;
    color: green;
}

#mess-details,#hostel-room-details,#attendance,#broadcast,#approval,#add-student,#student-details-wr,#leave-application{
    display: none;
}

#student-details{
    width: 600px;
    height: 580px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#hostel-room-details{
    width: 500px;
    height: 150px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#mess-details{
    width: 500px;
    height: 100px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#student-details-wr{
    width: 750px;
    height: 750px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#student-search{
    width: 500px;
    height: 100px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#broadcast{
    width: 700px;
    height: 300px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#pm{
    padding: 1% 5% 1% 5%;
    border: 1px dotted black;
}

#add-student{
    width: 380px;
    height: 550px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 750;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    vertical-align: top;
    display: none;
}

#add-student-d{
    width: 800px;
    height: 500px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 550;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    vertical-align: top;
    display: none;
}

#edit:hover, #cross:hover{
    font-size: 28px;
    cursor: hand;
}


#leave-application{
    width: 20vw;
    height: 490px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 800;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#attendance{
    width: 50vw;
    /* height: 800px;  */
    padding: 5% 5% 5% 5%;
    position: absolute;
    top:-20;
    bottom: 0;
    left: 520;
    right: 0;
    margin: auto;
}

#approval{
    width: 40vw;
    height: 490px;
    padding: 5% 5% 5% 5%;
   
    position: absolute;
    top:0;
    bottom: 0;
    left: 660;
    right: 0;
    margin: auto;
    border: 1px dotted black;
}

/* #adds{
    top: -35;
    right: -170;
} */

/* table{
    border: 10px solid black;
}

td{
    border: 10px solid black;
}

th{
    border: 10px solid black;
} */